*{
    margin: 0;
    padding: 0;
}
main{
    width: 90v;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container_main{
    display: flex;
    width: 100vw;
    margin: auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.d1{
    width: 32%;
    height: 9rem;
    background: #a289e7;
    margin: 4px;
    align-items: center;
    display: flex;
    justify-content: center;
}
#alice{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
}
#antice{
    background-color: rgb(238, 219, 195);
    display: flex;
    flex-direction: column;
}
#aqua{
    background-color: aqua;
    display: flex;
    flex-direction: column;
}
#aquamarine{
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
}
#azure{
    background-color: azure;
    display: flex;
    flex-direction: column;
}

#beige{
    background-color: beige;
    display: flex;
    flex-direction: column;
}
#beque{
    background-color: bisque;
    display: flex;
    flex-direction: column;
}
#anothercolor1{
    background-color: rgb(49, 36, 19);
    display: flex;
    flex-direction: column;
}
#anothercolor2{
    background-color: rgba(15, 53, 88, 0.829);
    display: flex;
    flex-direction: column;
}
#anothercolor3{
    background-color: rgba(219, 47, 235, 0.829);
    display: flex;
    flex-direction: column;
}
#anothercolor4{
    background-color: rgba(28, 92, 12, 0.829);
    display: flex;
    flex-direction: column;
}
#anothercolor5{
    background-color: rgba(47, 235, 119, 0.705);
    display: flex;
    flex-direction: column;
}
#anothercolor6{
    background-color: rgba(25, 71, 65, 0.829);
    display: flex;
    flex-direction: column;
}
#anothercolor7{
    background-color: rgba(74, 3, 95, 0.829);
    display: flex;
    flex-direction: column;
}
#anothercolor8{
    background-color: rgba(204, 10, 10, 0.829);
    display: flex;
    flex-direction: column;
}